@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rating component classes */
@layer components {
  .ratinButton {
    @apply w-14 h-14 bg-[#262f38] rounded-full hover:bg-[#fb7413] hover:text-white focus:bg-[#7e8798] focus:text-white text-[#808791] transition;
  }
}
